<div class="start-image">
<%= image_tag("fon_fitnes.jpg", size: "1300x500", :alt => "Описание") %>
</div>
<br>
<div class="row justify-content-between">
    <div class="col-9">
        <div class="descr">
            <strong> Сеть фитнес клубов RomanOff </strong> <br>
            RomanOff – это сеть фитнес-клубов,
            где каждый клиент получает всё необходимое для позитивных изменений и выхода на новый,
            более качественный уровень жизни.
            В основе наших программ – разработанная экспертами и запатентованная система тренировок Smart Fitness,
            благодаря которой тело становится здоровым, функционально развитым и наполненным энергией.
            Это позволяет чувствовать себя превосходно,
            работать продуктивно, наслаждаться каждым мгновением и реализовывать себя на 100%.
        </div>
    </div>
    <div class="col-3">
     <%=image_tag("pair.jpg", size: "280x280", :alt => "Описание")%>
    </div>
</div>



