<p style="text-align: justify;">
Боевые искусства в наших клубах представлены такими направлениями как бокс, кикбоксинг, карате, тэквондо, 
тай-чи и другие классические восточные единоборства. Заниматься можно как в группе, 
так и в индивидуальном режиме под руководством персонального инструктора. Тренировки позволяют овладеть 
навыками самообороны, получить психологическую разгрузку и заряд энергии.
 Продвинутые спортсмены могут отработать навыки и качественно подготовиться к соревнованиям.
</p>