<p style="text-align: justify;">
Групповые программы в фитнес-центрах сети RomanOff обязательно включают комплекс упражнений
 для силовых тренировок. Они развивают выносливость, увеличивают мышечную силу, формируют рельеф.
  Занятия проводятся с использованием оборудования: сборные штанги, бодибары, гантели, амортизаторы, 
  медицинские мячи, фитболы и т.д. Инвентарь прорабатывает как все тело, так и отдельные мышечные группы.
</p>