<p style="text-align: justify;">Тренажерный частный зал рассчитан для персональных и групповых тренингов без оплаты клубных карт. 
Включает зоны для кардиотренировок, силовой аэробики, кроссфита.
 Концепция основана на создании условий для занятий бодибилдингом/ пауэрлифтингом людям с разной физической
  подготовкой.
 В центре действуют гибкая ценовая политика, ориентированная на платежеспособность клиентов.
 </p>
