 <p style="text-align: justify;">Аквааэробика – это комплекс упражнений,
  выполняемых в воде под ритмичную музыку. 
 Тренировки в бассейне пользуются огромной популярностью, т.к. водная среда минимизирует нагрузку 
 на опорно-двигательный аппарат и подходит практически всем.
  Благодаря сопротивлению воды равномерно прорабатываются все участки тела,
   повышается выносливость и укрепляется сердечно-сосудистая система. <br>

В клубах RomanOff есть аквапрограммы как для начинающих, так и для подготовленных.
 Занятия проводятся с использованием специального оборудования и помогают быстро привести тело в тонус. 
 </p>