 <p style="text-align: justify;">Детские занятия в бассейне построены по принципу увлекательной игры 
 и помогают малышам быстро освоиться
  в водной среде. Самые маленькие учатся держаться без опоры, преодолевают водобоязнь,
  а дети постарше  осваивают техники плавания, участвуют в занимательных играх и эстафетах. 
  </p>