<p style="text-align: justify;">Водное поло – командная игра для хорошо подготовленных пловцов.
 Помимо эмоционального удовольствия, занятие развивает выносливость, ловкость, развивает координацию движений.
 Фитнес-инструктор по водному поло поможет освоить технику владения мячом и тактику командной игры.
 </p>