<p style="text-align: justify;">
Баскетбол - вид спорта, спортивная командная игра с мячом, цель в которой – забросить мяч в корзину соперника большее число раз,

 чем это сделает команда соперника в установленное время.
  Каждая команда состоит из 5 полевых игроков.

</p>