<p style="text-align: justify;">
Футбол — самый популярный командный вид спорта в мире,
 целью в котором является забить мяч в ворота соперника большее число раз, 
 чем это сделает команда соперника в установленное время. 
 Мяч в ворота можно забивать ногами или любыми другими частями тела (кроме рук).

</p>