<p style="text-align: justify;">
Настольный теннис (пинг-понг) – вид спорта, в котором два игрока или две команды по два человека (парная игра)
 соперничают между собой, пытаясь перекинуть ракетками специальный мяч (через сетку на игровом столе)
  на сторону соперника таким образом, чтобы соперник не смог его отразить.
 При этом мяч должен коснуться половины поля соперника не менее одного раза.

</p>