<p style="text-align: justify;">Волейбол – это вид спорта, целью в котором является направить мяч в сторону соперника таким образом, 
чтобы он приземлился на половине соперника или добиться ошибки со стороны игрока команды соперника.
 Во время одной атаки допускается только три касания мяча подряд. 
 Волейбол популярен как среди мужчин, так и среди женщин.
 </p>
