<h1 class="mb-4">Универсальный зал: спортивные игры</h1>
<%= link_to 'Волейбол', acts_path(:service => @service, :act => 'volleyball'), class: 'nav-link px-2' %></li>
<%= link_to 'Баскетбол', acts_path(:service => @service, :act => 'basketball'), class: 'nav-link px-2' %></li>
<%= link_to 'Футбол', acts_path(:service => @service, :act => 'football'), class: 'nav-link px-2' %></li>
<%= link_to 'Теннис', acts_path(:service => @service, :act => 'tennis'), class: 'nav-link px-2' %></li>