<h1 class="mb-4">Групповые тренировки</h1>
<%= link_to 'Аэробные программы', acts_path(:service => @service, :act => 'aerobics'), class: 'nav-link px-2' %></li>
<%= link_to 'Силовая тренировка', acts_path(:service => @service, :act => 'power'), class: 'nav-link px-2' %></li>
<%= link_to 'Танцевальные программы', acts_path(:service => @service, :act => 'dance'), class: 'nav-link px-2' %></li>
<%= link_to 'Боевые искусства', acts_path(:service => @service, :act => 'fight'), class: 'nav-link px-2' %></li>