<h1 class="mb-4">Бассейн</h1>
<%= link_to 'Плавание', pool_acts_path(:act => 'swim'), class: 'nav-link px-2' %></li>
<%= link_to 'Аквааэробика', root_path, class: 'nav-link px-2' %></li>
<%= link_to 'Водное поло', root_path, class: 'nav-link px-2' %></li>
<%= link_to 'Еще', root_path, class: 'nav-link px-2' %></li>