<h1 class="mb-4">Бассейн</h1>
<%= link_to 'Плавание', acts_path(:service => @service, :act => 'swim'), class: 'nav-link px-2' %></li>
<%= link_to 'Аквааэробика', acts_path(:service => @service, :act => 'aqua'), class: 'nav-link px-2' %></li>
<%= link_to 'Водное поло', acts_path(:service => @service, :act => 'polo'), class: 'nav-link px-2' %></li>
<%= link_to 'Детские занятия', acts_path(:service => @service, :act => 'kid'), class: 'nav-link px-2' %></li>