<h1 class="mb-4">Услуги</h1>
<%= link_to 'Бассейн', service_pool_path, class: 'nav-link px-2' %></li>
<%= link_to 'Тренажерный зал', service_gym_path, class: 'nav-link px-2' %></li>
<%= link_to 'Детский фитнес', root_path, class: 'nav-link px-2' %></li>
<%= link_to 'Универсальный зал', root_path, class: 'nav-link px-2' %></li>
