<h1 class="mb-4">Услуги</h1>
<%= link_to 'Бассейн', pool_path, class: 'nav-link px-2' %></li>
<%= link_to 'Тренажерный зал', gym_path, class: 'nav-link px-2' %></li>
<%= link_to 'Групповые тренировки', group_path, class: 'nav-link px-2' %></li>
<%= link_to 'Универсальный зал', games_path, class: 'nav-link px-2' %></li>
