/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .form-group {
    max-width: 500px;
     }
  nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
    }
  .descr {
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 320px auto 30px;                
  }

  .start-image {
    margin: 25px 320px auto 30px; 
  }

  .simple-calendar {
    max-width: 1000px;
    max-height: 10rem;
    background-color: rgb(157, 223, 223);
    }

  .simple-calendar .day {
     height: 130px;
     width: 110px;
     background-color: rgb(157, 223, 223);
     font-family: "Optima, sans-serif";
     font-weight: bold; 
    }

  .simple-calendar .wday-6 {color: red;}
  .simple-calendar .wday-0 {color: red;}
  
  .simple-calendar .today {background-color: burlywood;}
  .simple-calendar .prev-month {
    color: grey;
    font-weight: normal;
  }
  .simple-calendar .next-month {
    color: grey;
    font-weight: normal;
   }

   .simple-calendar .calendar-heading {
    display: flex;
    justify-content: center;
   }

   .table .table-striped {
    display: flex;
    justify-content: center;
   }

    .past {}
    .future {}  
    .start-date {}
  

   
    .current-month {}
  
    .has-events {}


