<% act = @record[:activity] %>
<h1 class="mb-4"> <%= act %> </h1>

<% file = "join/#{transl[@record[:service]]}_acts/#{transl[act]}" %>    
<div> <%= render file %> </div>

<div> <%= render 'join/set' %> </div>
<br>
<%= button_to 'Назад', {action: "service"}, method: 'get', local: true, class: "btn btn-secondary" %>
