<%= month_calendar(events: ) do |date| %>
    <div class="day">
        <%= date.day %>
    </div>
<% end %>

<%= button_to 'Назад', {action: "club"}, method: 'get', local: true, class: "btn btn-secondary" %>