<% act = $record[:activity] %>
Выберите клуб для занятия: <% act %> <br>
<% Club.joins(club_acts: :service_act).where("service_acts.activity = ?", $record[:activity]).distinct.each do |club| %>
    <% club.name %>

    <% file = "join/clubs/#{transl[club.name]}" %>    
    <div> <%= render file %> </div>

    <%= link_to "Выбрать", calendar_path(:club => club.name), class: 'nav-link px-2' %></li> 
    <%# button_to 'Выбрать', {action: "calendar"}, method: 'get', local: true, class: "btn btn-primary" %>   

<% end %>

<%= button_to 'Назад', {action: "act"}, method: 'get', local: true, class: "btn btn-secondary" %>