<h1 class="mb-4">Услуги</h1>

<% ServiceAct.select(:service).distinct.each do |i| %>
    <% file = "join/service/#{transl[i.service]}" %>     
    <div> <% render file %> </div>
    <%= link_to i.service, service_path(:service => i.service), class: 'nav-link px-2' %></li>  
<% end %>


