<h1 class="mb-4">Универсальный зал: спортивные игры</h1>
<%= link_to 'Волейбол', act_path(:service => @service, :act => 'volleyball'), class: 'nav-link px-2' %></li>
<%= link_to 'Баскетбол', act_path(:service => @service, :act => 'basketball'), class: 'nav-link px-2' %></li>
<%= link_to 'Футбол', act_path(:service => @service, :act => 'football'), class: 'nav-link px-2' %></li>
<%= link_to 'Теннис', act_path(:service => @service, :act => 'tennis'), class: 'nav-link px-2' %></li>