<h1 class="mb-4">Групповые тренировки</h1>
<%= link_to 'Аэробные программы', act_path(:service => @service, :act => 'aerobics'), class: 'nav-link px-2' %></li>
<%= link_to 'Силовая тренировка', act_path(:service => @service, :act => 'power'), class: 'nav-link px-2' %></li>
<%= link_to 'Танцевальные программы', act_path(:service => @service, :act => 'dance'), class: 'nav-link px-2' %></li>
<%= link_to 'Боевые искусства', act_path(:service => @service, :act => 'fight'), class: 'nav-link px-2' %></li>