    <p style="text-align: justify;">Визитная карточка большей части клубов RomanOff – бассейны с морской водой.
Она известна своими целебными свойствами, снимает стресс и создает дополнительный терапевтический эффект
для кожи. Бассейны фитнес-клубов RomanOff оборудованы многоступенчатой системой очистки, обеспечивающей
 идеальное состояние воды. Вы можете заниматься самостоятельно или с инструктором,
 а также посещать групповые тренировки. У аквапрограмм много преимуществ:
 отсутствует ударная нагрузка, лучше прорабатываются суставы, обеспечивается высокий расход энергии.
    </p>