<h1 class="mb-4">Бассейн</h1>
<%= link_to 'Плавание', act_path(:service => @service, :act => 'swim'), class: 'nav-link px-2' %></li>
<%= link_to 'Аквааэробика', act_path(:service => @service, :act => 'aqua'), class: 'nav-link px-2' %></li>
<%= link_to 'Водное поло', act_path(:service => @service, :act => 'polo'), class: 'nav-link px-2' %></li>
<%= link_to 'Детские занятия', act_path(:service => @service, :act => 'kid'), class: 'nav-link px-2' %></li>