<p style="text-align: justify;">Зал с Премиальным оборудованием Matrix,
 входящим в Тройку Лучших мировых производителей.
 Кардио оборудование представлено Профессиональными дорожками, эллиптическими тренажерами и велосипедами
  с 19-ти дюймовым сенсорным тач TFT-LCD c доступом к различным интернет приложениям,
   виртуальным ландшафтом и огромным количеством фитнес программ
    </p>