 <p style="text-align: justify;">
 <ul>В тренажёрным зале под руководством тренера вы можете использовать различное оборудование
для укрепления ваших мышц и здоровья: <br>
    <li>фитболы; </li>
    <li>степ-платформы; </li>
    <li>горизонтальная скамья; </li>
    <li>скамья с тренажёром для ног и стойкой под штангу; </li>
    <li>тренажёр для пресса; </li>
    <li>тренажёр для разработки мышц груди; </li>
    <li>беговая дорожка;</li>
    <li>тренажёр для жима ногами; </li>
    <li>различные штанги, гантели, диски и прочая мелочь.</li>
</ul>
 </p>