 <p style="text-align: justify;">В RomanOff вы можете заниматься с фитнес-тренером.
  Он руководит процессом тренировки,
 отвечает за правильность выполнения упражнений и безопасность спортсменов.
  Если у вас есть конкретная цель, которую вы хотите достичь при помощи спорта,
   то тренер с радостью даст вам необходимые рекомендации,
    составит индивидуальную программу упражнений, чтобы результат был достигнут
     </p>